{% extends 'base.html' %}

{% block content %}

<br />
<div class="card shadow-sm border-dark">
    <div class="card-header text-white bg-dark">
    <a class="btn btn-danger float-right" href="/logout/" role="button">Logout</a>
    <h5 class="card-title">{{user.display_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <a href="/profile/{{user.username}}/">@{{user.username}}</a>
    </h6>
    </div>
</div>
<br>
{% if not feed %}
<div class="container">
  <p>It looks like you don't have any tweets yet. How about finding some users to follow or <a href='/create/'>send a tweet</a> yourself!</p>
</div>
{% else %}

{% for tweet in feed %}
<div class="card text-white shadow-sm" style="background-color: darkblue">
  <div class="card-header border-light">
    <i class="fab fa-telegram-plane"></i>
    <span class="text-right"><a href="/profile/{{tweet.user.username}}/">@{{tweet.user.username}}</a></span>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ tweet.tweet }}</p>
      <footer class="blockquote-footer text-white float-right">{{tweet.time}}</cite></footer>
    </blockquote>
  </div>
</div>
<br>


{% endfor %}
{% endif %}



{% endblock  %}