{% extends 'base.html' %} {% block content %}

<br />
<div class="card shadow-sm border-dark">
  <div class="card-header text-dark" style="background-color: #66757f">
    <a class="btn btn-danger float-right" href="/logout/" role="button"
      >Logout</a
    >
    <h3 class="card-title text-white">Hello, {{user.display_name}}</h3>
    <h5 class="card-subtitle mb-2 text-muted">
      <span class="badge badge-light"
        ><a href="/profile/{{user.username}}/" class="text-dark"
          >@{{user.username}}</a
        ></span
      >
    </h5>
  </div>
</div>
<br />

{% if not mentions %}
<div class="container text-light">
  <p>
    It looks like you don't have any notifications right now. Please check
    later.
  </p>
</div>
{% else %}

<p class="text-light">
  You currently have {{count}} notification(s). Check them below.
</p>

{% for mention in mentions %}
<div class="card text-white shadow-sm" style="background-color: #55acee">
  <div class="card-header border-light">
    <svg
      width="2em"
      height="2em"
      viewBox="0 0 16 16"
      class="bi bi-chat-right-quote float-right"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"
      />
      <path
        fill-rule="evenodd"
        d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"
      />
    </svg>

    <span class="badge badge-inherit text-light"
      ><a
        href="/profile/{{mention.user.username}}/"
        style="color: inherit; font-weight: bold; font-size: 20px"
        >{{mention.user.display_name}}</a
      ></span
    >
    <span class="text-muted" style="color: #66757f"
      ><a href="/profile/{{mention.user.username}}/" style="color: inherit"
        >@{{mention.user.username}}</a
      ></span
    >
  </div>
  <div class="card-body text-dark" style="background-color: #e1e8ed">
    <blockquote class="blockquote mb-0">
      <p>{{ mention.tweet }}</p>
      <footer class="blockquote-footer float-right">
        <cite>{{mention.time}}</cite> |
        <a href="/tweet/{{mention.id}}/">Link</a>
      </footer>
    </blockquote>
  </div>
</div>
<br />
{% endfor %} {% endif %} {% endblock %}
