{% extends 'base.html' %} {% block content %}
<br />
<div class="card shadow-sm border-dark">
    <div class="card-header text-white bg-dark">
    <div class="card-text float-right">
    <p class="card-text">Tweets: {{tweets.count}}</p>
    <p class="card-text">Following: {{user.following.count}}</p>
    </div>
    <h5 class="card-title">{{user.display_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <a href="/profile/{{user.username}}/">@{{user.username}}</a>
    </h6>
    </div>
  <div class="card-body">
    <h4 class="card-text" style="font-style: italic">{{user.bio}}</h4>
    {% if request.user.is_authenticated %}
      {% if user.username != request.user.username %}
        {% if user in following %}
          <a class="btn btn-secondary float-right" href="/unfollow/{{user.username}}/" role="button">Unfollow</a>
        {% else %}
          <a class="btn btn-secondary float-right" href="/follow/{{user.username}}/" role="button">Follow</a>
        {% endif %}
      {% endif %}
    <a class="btn btn-danger float-right" href="/logout/" role="button">Logout</a>
    {% endif %}
  </div>
</div>
<br>

{% for tweet in tweets %}
<div class="card text-white shadow-sm" style="background-color: darkblue">
  <div class="card-header border-light">
    <i class="fab fa-telegram-plane"></i>
    <span class="text-right"><a href="/profile/{{user.username}}/">@{{user.username}}</a></span>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ tweet.tweet }}</p>
      <footer class="blockquote-footer text-white float-right">{{tweet.time}}</cite></footer>
    </blockquote>
  </div>
</div>
<br>
{% endfor %}
{% endblock %}
